# Database files
*.sql

# Ignore these output/temporary directories
tmp/
**/tmp/

out/
**/out/

# VSCode
.vscode
**/.vscode/

# pycharm
.idea/
.ipynb_checkpoints/
**/.idea

# python
__pycache__/
**/__pycache__
**/__pycache__/

# ipython-notebooks
.ipynb_checkpoints
**/.ipynb_checkpoints
**/.ipynb_checkpoints/

